.hero-body {
  width: 100%;
    height: 75vh;
    background-image: url(/assets/images/futbol-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.hero-body-baseball {
  width: 100%;
    height: 80vh;
    background-image: url(/assets/images/baseball-stadium.jpg);
    background-size: cover;
    background-position: center;
}

.hero-body-soccer {
  width: 100%;
    height: 80vh;
    background-image: url(/assets/images/soccer-stadium.jpg);
    background-size: cover;
    background-position: center;
}

/* .baseball-clear-button {
  display: flex;
  justify-content: end;
  align-items: end;
} */