
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  ul.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  ul.navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul.navbar li a {
    text-decoration: none;
  }
  
  /* Basketball card styles */
  section#basketball {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  section#basketball h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  div.basketball-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
  }
  
  p.team1,
  p.team2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  /* Baseball card styles */
  section#baseball {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  section#baseball h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  div.baseball-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
  }
  
  p.team1,
  p.team2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }